# Local .terraform and .terragrunt directories
**/.terraform/*
**/.terragrunt/*
.terragrunt-cache*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
backend.tf
provider.tf

# Crash log files
crash.log
.DS_Store

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc